# Turso
TURSO_DATABASE_URL=libsql://novichok-adeep13.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODMxODkxOTYsImlkIjoiMDE5ZjJlM2QtZTkwMS03NzZmLWI0ODMtYTNmYjExMjIzOGMzIiwia2lkIjoiTFFvQXdFUFRLLVlpUXRGcFBpQXJkSGtMOGJ6a3QzTC1Rd3ZjdWJ0bHh2VSIsInJpZCI6IjAxODUyMjc3LWRjZDUtNDA0YS05OGZjLTI0YTExYWJhOTJkZiJ9.XZl-Y-dJfsC186k3gqRLYyGeiwfAY2hIwau4Wk-HbkIet6oXgE3lPuI2zaWZEGsK2zZSh9JXomja1W8tDXStDA

# Cloudinary
CLOUDINARY_CLOUD_NAME=eqmgudtb
CLOUDINARY_API_KEY=472913454638365
CLOUDINARY_API_SECRET=40oIu4BPfTb8nOuNnFZk15wcypA

# JWT
JWT_SECRET=d4f8h2j9k3l5n7p0q2r4s6t8u1v3w5x7y9z0a2b4c6d8e0f1g3h5i7j9k8l6m4n2o0p

# Admin seed (create initial admin on startup)
ADMIN_EMAIL=adeepag13@gmail.com
ADMIN_PASSWORD=Adeep@123
