# Turso
TURSO_DATABASE_URL=libsql://novichok-adeep13.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODMxODkxOTYsImlkIjoiMDE5ZjJlM2QtZTkwMS03NzZmLWI0ODMtYTNmYjExMjIzOGMzIiwia2lkIjoiTFFvQXdFUFRLLVlpUXRGcFBpQXJkSGtMOGJ6a3QzTC1Rd3ZjdWJ0bHh2VSIsInJpZCI6IjAxODUyMjc3LWRjZDUtNDA0YS05OGZjLTI0YTExYWJhOTJkZiJ9.XZl-Y-dJfsC186k3gqRLYyGeiwfAY2hIwau4Wk-HbkIet6oXgE3lPuI2zaWZEGsK2zZSh9JXomja1W8tDXStDA

# Cloudinary
CLOUDINARY_CLOUD_NAME=eqmgudtb
CLOUDINARY_API_KEY=472913454638365
CLOUDINARY_API_SECRET=40oIu4BPfTb8nOuNnFZk15wcypA

# JWT
JWT_SECRET=generate-a-long-random-string-here

# Admin seed (create initial admin on startup)
ADMIN_EMAIL=adeepag13@gmail.com
ADMIN_PASSWORD=Adeep@123
